[submodule "sneezymud"]
	path = services/sneezymud
	url = https://github.com/sneezymud/sneezymud
[submodule "connectificator"]
	path = services/webclient/connectificator
	url = https://github.com/cizra/connectificator
