<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - SneezyCRUD</title>
        {% else %}
        <title>SneezyCRUD</title>
        {% endif %}
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <body>
        <div>
            <a href="/">SneezyCRUD</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>
