{% extends "base.html" %}
{% block content %}

<h1>Object {{obj.vnum}}</h1>

<form action="{{obj.vnum}}" method="post">
  <div class="ib">
    <fieldset>
      {{ form.hidden_tag() }}
      <div class="grid">
        {% for field in form %}
          {% if field.type != 'CSRFTokenField' %}
            {{ field.label() }}
            {{ field() }}
          {% endif %}
        {% endfor %}
      </div>
      <input type="submit" value="Save" />
      <button type="button" ><a href="../objs">Back</a></button>
    </fieldset>
  </div>
</form>

{% endblock %}