.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: auto auto;
  margin: 1em;
}

.ib {
  display: inline-block;
}

.helptext {
  vertical-align: top;
  border-width: 2px;
  border-style: groove;
  border-color: threedface;
  border-image: initial;
  padding: 0.75em;
}

button a {
  text-decoration: none;
}

div.buttons {
  margin: 0.5em;
}

.nodisplay {
  display: none;
}

input#trigger {
  width: 30em;
}
