{% extends "base.html" %}
{% block content %}

<h1>Editing {{thing.vnum}} {{thing.name}} </h1>

<div class="ib">
  {% block preform %}{% endblock %}
  <form action="{{thing.vnum}}" method="post">
    <div class="ib">
      <fieldset>
        <div class="buttons">
          <input type="submit" value="Save" />
          <button type="button" ><a href="../{{backlink}}">Back</a></button>
        </div>

        {{ form.hidden_tag() }}
        {% block form %}{% endblock %}

        <div class="buttons">
          <input type="submit" value="Save" />
          <button type="button" ><a href="../{{backlink}}">Back</a></button>
        </div>
      </fieldset>
    </div>
  </form>
</div>

<div class="ib helptext">
  {% block rightpane %}{% endblock %}
</div>

{% endblock %}
